body {
  margin: 0;
  font-family: sans-serif;
  background: #111;
  color: white;
}

#browserContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#urlInput {
  padding: 10px;
  font-size: 16px;
  border: none;
}

#goBtn {
  padding: 10px;
  background: #333;
  color: white;
  border: none;
}

iframe {
  flex: 1;
  border: none;
}

#panelFlotante {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #222;
  padding: 15px;
  border-radius: 12px;
  width: 220px;
  box-shadow: 0 0 20px rgba(0,0,0,0.6);
  z-index: 9999;
  touch-action: none;
}

textarea {
  width: 100%;
  height: 60px;
  margin-top: 8px;
  background: #111;
  color: white;
  border: 1px solid #444;
}

button {
  margin-top: 8px;
  width: 100%;
}

